.grid{
    border: 1px solid green;
    display: grid;
    gap: 8px;
    /* явное определение размеров элемнтов как колонки*/
    grid-template-columns: repeat(5, 100px);
    /* явное определение размеров элемнтов как строки*/
    grid-template-rows: repeat(5, 100px);
}

.item{
    background-color: aqua;
}