.grid{
    border: 1px solid green;
    display: grid;
    gap: 8px;
    /* явное определение размеров элемнтов как колонки*/
    grid-template-columns: repeat(5, 100px);
    /* явное определение размеров элемнтов как строки*/
    grid-template-rows: repeat(3, 250px);
    /* если элемтов много, о они будут выпадать и им 
    можно устновить размер неявной сетки, в данном случае здесь 3 строки - rows*/
    grid-auto-rows: 70px;
}

.item{
    background-color: aqua;
}