.grid{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 200px 1fr;
    gap: 8px;
    grid-template-areas: 
        "header header" 
        "sidebar content" 
        "footer footer"
    ;
}

.grid div{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color:cornflowerblue;
    color: white;
    text-transform: uppercase;
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content;
}

.footer{
    grid-area: footer;
}



